# temp
*~
*.pyc
.DS_Store
Thumbs.db
.coverage
.ipynb_checkpoints
.vagrant
__pycache__
cover
.coverage

# ignore autoenv
.env

# logs
*.log

# dbs
db.sqlite3
*.p

# package files
build
dist
*.egg-info

# conf
settings.py
settings.p
.imported_roles


# static
*.txt
*.jpg
*.png
*.mp3
*.wav
*.csv
*.tsv
*.xlsx
!requirements.txt
